html {
    background-image: linear-gradient(45deg, rgba(110, 170, 152, 0.75), rgba(13, 15, 116, 0.85));
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 1rem solid rgb(77, 9, 9);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.madrid {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 0.75rem;
    background: rgb(224, 204, 204);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hour-hand, .hour-hand1, .hour-hand2 {
    background-color: red;
}

.second-hand, .second-hand1, .second-hand2 {
    background-color: green;
}

.minute-hand, .minute-hand1, .minute-hand2 {
    background-color: rgb(238, 91, 218);
}
